In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras .layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D
import matplotlib.pyplot as plt
from keras.preprocessing.image import ImageDataGenerator

In [2]:
df = pd.read_csv('pokemon.csv')
df2 = df.sort_values(by=['Name'], ascending=True).reset_index(drop=True)
df2.head()

              Name    Type1  Type2
0        abomasnow    Grass    Ice
1             abra  Psychic    NaN
2            absol     Dark    NaN
3         accelgor      Bug    NaN
4  aegislash-blade    Steel  Ghost

In [3]:
#image pathlerini data'mıza ekleyelim
import os
path='images/'
image = sorted(os.listdir('images/'))
image_paths = []
for i in image:
    image_paths.append(path + i)
df2['imagepath'] = image_paths

#type 1 ve type 2 için iki ayrı frame oluşturuyoruz
type1_data = df2.drop((['Type2']), axis=1)
type2_data = df2.drop((['Type1']), axis=1)
#type 2 de eksik data olduğu için çıkarıyoruz
type2_data = type2_data.dropna()
#type 2 de çok fazla none data var. az data olduğu için sadece type1 i algoritmaya dahil ettim.
#type1_data['Type1'].value_counts()
type1_data.Type1.value_counts().keys()

Index(['Water', 'Normal', 'Grass', 'Bug', 'Psychic', 'Fire', 'Rock',
       'Electric', 'Poison', 'Ground', 'Dark', 'Fighting', 'Ghost', 'Dragon',
       'Steel', 'Ice', 'Fairy', 'Flying'],
      dtype='object')

In [4]:
type1_data.Type1.value_counts().values

array([114, 105,  78,  72,  53,  53,  46,  40,  34,  32,  29,  29,  27,
        27,  26,  23,  18,   3], dtype=int64)

In [5]:
select = ['Water', 'Normal', 'Grass', 'Bug']
type1_data = type1_data[type1_data['Type1'].isin(select)]
#type 1'i train ve test olarak ayırıyoruz
train_type1_df = type1_data.sample(frac=0.85, random_state = 0)
test_type1_df = type1_data.drop(train_type1_df.index)
train_type1_df.head(n=5)

           Name   Type1              imagepath
334  kangaskhan  Normal  images/kangaskhan.png
351  kricketune     Bug  images/kricketune.png
623    silvally  Normal    images/silvally.jpg
118      combee     Bug      images/combee.png
676     suicune   Water     images/suicune.png

In [6]:
train_datagen = ImageDataGenerator(
    
    rescale=1./255, 
    rotation_range=40, 
    width_shift_range=0.2, 
    height_shift_range=0.2, 
    shear_range=.2, 
    zoom_range=0.2,
    horizontal_flip=True, 
    fill_mode='nearest',
    validation_split=0.1
)


train_generator = train_datagen.flow_from_dataframe(
    train_type1_df, 
    x_col='imagepath', y_col='Type1',
    target_size=(120, 120), 
    color_mode='rgba', 
    class_mode='categorical', 
    batch_size=32, 
    shuffle=True, 
    seed=1,
    subset='training'
)

validation_generator = train_datagen.flow_from_dataframe(
    train_type1_df , x_col='imagepath', y_col='Type1',
    target_size=(120, 120),
    color_mode='rgba', 
    class_mode='categorical', 
    batch_size=4, 
    shuffle=True,
    seed=1, 
    subset='validation'
)
test_datagen=ImageDataGenerator(rescale=1./255)

test_generator = test_datagen.flow_from_dataframe(
    dataframe = test_type1_df,
    x_col="imagepath", y_col=None,
    target_size=(120, 120),
    class_mode=None,
    batch_size=32,
    shuffle=False,
    seed=1  
)

Found 283 validated image filenames belonging to 4 classes.
Found 31 validated image filenames belonging to 4 classes.
Found 55 validated image filenames.

In [7]:
model = Sequential()

model.add(Dense(4, input_shape=(120, 120, 4)))

model.add(Conv2D(64, (7, 7), activation='relu'))
model.add(MaxPooling2D(2, 2))


model.add(Conv2D(128, (7, 7), activation='relu'))
model.add(MaxPooling2D(2, 2))


model.add(Flatten())

model.add(Dense(256, activation='relu'))

model.add(Dense(4, activation='sigmoid'))

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['acc'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120, 120, 4)       20

 conv2d (Conv2D)             (None, 114, 114, 64)      12608

 max_pooling2d (MaxPooling2D  (None, 57, 57, 64)       0
 )

 conv2d_1 (Conv2D)           (None, 51, 51, 128)       401536

 max_pooling2d_1 (MaxPooling  (None, 25, 25, 128)      0
 2D)

 flatten (Flatten)           (None, 80000)             0

 dense_1 (Dense)             (None, 256)               20480256

 dense_2 (Dense)             (None, 4)                 1028

=================================================================
Total params: 20,895,448
Trainable params: 20,895,448
Non-trainable params: 0
_________________________________________________________________

In [8]:
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=validation_generator.n//validation_generator.batch_size
STEP_SIZE_TEST=test_generator.n//test_generator.batch_size
model.fit(train_generator,
                    steps_per_epoch=STEP_SIZE_TRAIN,
                    validation_data=validation_generator,
                    validation_steps=STEP_SIZE_VALID,
                    epochs=80
)

Epoch 1/80
8/8 [==============================] - 14s 2s/step - loss: 1.9773 - acc: 0.2948 - val_loss: 1.3892 - val_acc: 0.1786
Epoch 2/80
8/8 [==============================] - 15s 2s/step - loss: 1.3858 - acc: 0.2869 - val_loss: 1.4112 - val_acc: 0.2857
Epoch 3/80
8/8 [==============================] - 15s 2s/step - loss: 1.3562 - acc: 0.3028 - val_loss: 1.2729 - val_acc: 0.3929
Epoch 4/80
8/8 [==============================] - 15s 2s/step - loss: 1.2868 - acc: 0.3625 - val_loss: 1.1690 - val_acc: 0.5000
Epoch 5/80
8/8 [==============================] - 15s 2s/step - loss: 1.3119 - acc: 0.4141 - val_loss: 1.2184 - val_acc: 0.6071
Epoch 6/80
8/8 [==============================] - 15s 2s/step - loss: 1.2980 - acc: 0.4223 - val_loss: 1.1293 - val_acc: 0.5714
Epoch 7/80
8/8 [==============================] - 15s 2s/step - loss: 1.2850 - acc: 0.4143 - val_loss: 1.2361 - val_acc: 0.4286
Epoch 8/80
8/8 [==============================] - 16s 2s/step - loss: 1.2615 - acc: 0.4143 - val_loss: 1.1335 - val_acc: 0.4643
Epoch 9/80
8/8 [==============================] - 15s 2s/step - loss: 1.2789 - acc: 0.4183 - val_loss: 1.1272 - val_acc: 0.5357
Epoch 10/80
8/8 [==============================] - 15s 2s/step - loss: 1.2504 - acc: 0.4609 - val_loss: 1.1552 - val_acc: 0.5000
Epoch 11/80
8/8 [==============================] - 15s 2s/step - loss: 1.2391 - acc: 0.4382 - val_loss: 1.0896 - val_acc: 0.5714
Epoch 12/80
8/8 [==============================] - 15s 2s/step - loss: 1.2093 - acc: 0.4502 - val_loss: 1.0749 - val_acc: 0.4286
Epoch 13/80
8/8 [==============================] - 15s 2s/step - loss: 1.2204 - acc: 0.5020 - val_loss: 1.2096 - val_acc: 0.2857
Epoch 14/80
8/8 [==============================] - 15s 2s/step - loss: 1.2239 - acc: 0.4542 - val_loss: 1.0904 - val_acc: 0.5357
Epoch 15/80
8/8 [==============================] - 15s 2s/step - loss: 1.2036 - acc: 0.4781 - val_loss: 1.0732 - val_acc: 0.4643
Epoch 16/80
8/8 [==============================] - 16s 2s/step - loss: 1.1278 - acc: 0.5430 - val_loss: 1.2133 - val_acc: 0.4643
Epoch 17/80
8/8 [==============================] - 16s 2s/step - loss: 1.1511 - acc: 0.5039 - val_loss: 1.2166 - val_acc: 0.3571
Epoch 18/80
8/8 [==============================] - 15s 2s/step - loss: 1.1472 - acc: 0.5060 - val_loss: 1.1132 - val_acc: 0.4643
Epoch 19/80
8/8 [==============================] - 15s 2s/step - loss: 1.1140 - acc: 0.5259 - val_loss: 1.2051 - val_acc: 0.3571
Epoch 20/80
8/8 [==============================] - 15s 2s/step - loss: 1.1001 - acc: 0.5817 - val_loss: 1.1158 - val_acc: 0.3929
Epoch 21/80
8/8 [==============================] - 15s 2s/step - loss: 1.1136 - acc: 0.5139 - val_loss: 1.0516 - val_acc: 0.5000
Epoch 22/80
8/8 [==============================] - 15s 2s/step - loss: 1.0812 - acc: 0.5618 - val_loss: 0.9973 - val_acc: 0.5357
Epoch 23/80
8/8 [==============================] - 15s 2s/step - loss: 1.0481 - acc: 0.5936 - val_loss: 1.0245 - val_acc: 0.5357
Epoch 24/80
8/8 [==============================] - 15s 2s/step - loss: 1.1324 - acc: 0.5538 - val_loss: 1.0956 - val_acc: 0.6071
Epoch 25/80
8/8 [==============================] - 16s 2s/step - loss: 1.0583 - acc: 0.5498 - val_loss: 1.0578 - val_acc: 0.5000
Epoch 26/80
8/8 [==============================] - 15s 2s/step - loss: 1.0040 - acc: 0.6056 - val_loss: 1.1311 - val_acc: 0.3929
Epoch 27/80
8/8 [==============================] - 15s 2s/step - loss: 1.0779 - acc: 0.5259 - val_loss: 0.9190 - val_acc: 0.6786
Epoch 28/80
8/8 [==============================] - 15s 2s/step - loss: 0.9983 - acc: 0.6016 - val_loss: 1.0712 - val_acc: 0.4643
Epoch 29/80
8/8 [==============================] - 15s 2s/step - loss: 1.0164 - acc: 0.5857 - val_loss: 0.9838 - val_acc: 0.5357
Epoch 30/80
8/8 [==============================] - 15s 2s/step - loss: 0.9663 - acc: 0.6096 - val_loss: 0.9479 - val_acc: 0.5714
Epoch 31/80
8/8 [==============================] - 15s 2s/step - loss: 1.0191 - acc: 0.6096 - val_loss: 0.9653 - val_acc: 0.4643
Epoch 32/80
8/8 [==============================] - 15s 2s/step - loss: 0.9531 - acc: 0.6135 - val_loss: 0.9327 - val_acc: 0.5000
Epoch 33/80
8/8 [==============================] - 15s 2s/step - loss: 0.9939 - acc: 0.5777 - val_loss: 0.8860 - val_acc: 0.5714
Epoch 34/80
8/8 [==============================] - 15s 2s/step - loss: 0.9723 - acc: 0.5820 - val_loss: 0.9482 - val_acc: 0.5000
Epoch 35/80
8/8 [==============================] - 15s 2s/step - loss: 1.0074 - acc: 0.5737 - val_loss: 0.9659 - val_acc: 0.5714
Epoch 36/80
8/8 [==============================] - 15s 2s/step - loss: 0.9666 - acc: 0.5936 - val_loss: 0.8852 - val_acc: 0.5000
Epoch 37/80
8/8 [==============================] - 15s 2s/step - loss: 0.9058 - acc: 0.6175 - val_loss: 0.7902 - val_acc: 0.7143
Epoch 38/80
8/8 [==============================] - 15s 2s/step - loss: 0.9401 - acc: 0.6175 - val_loss: 1.0299 - val_acc: 0.4286
Epoch 39/80
8/8 [==============================] - 15s 2s/step - loss: 0.8917 - acc: 0.6211 - val_loss: 0.9874 - val_acc: 0.4286
Epoch 40/80
8/8 [==============================] - 15s 2s/step - loss: 0.9065 - acc: 0.6096 - val_loss: 1.2193 - val_acc: 0.3929
Epoch 41/80
8/8 [==============================] - 15s 2s/step - loss: 0.8616 - acc: 0.6494 - val_loss: 0.8818 - val_acc: 0.6071
Epoch 42/80
8/8 [==============================] - 15s 2s/step - loss: 0.8992 - acc: 0.6375 - val_loss: 0.8751 - val_acc: 0.6429
Epoch 43/80
8/8 [==============================] - 15s 2s/step - loss: 0.8890 - acc: 0.6773 - val_loss: 1.0107 - val_acc: 0.4643
Epoch 44/80
8/8 [==============================] - 15s 2s/step - loss: 0.8896 - acc: 0.6614 - val_loss: 0.8948 - val_acc: 0.4643
Epoch 45/80
8/8 [==============================] - 15s 2s/step - loss: 0.9254 - acc: 0.6295 - val_loss: 1.0832 - val_acc: 0.5357
Epoch 46/80
8/8 [==============================] - 15s 2s/step - loss: 0.8886 - acc: 0.6375 - val_loss: 1.0428 - val_acc: 0.4286
Epoch 47/80
8/8 [==============================] - 15s 2s/step - loss: 0.8194 - acc: 0.6773 - val_loss: 1.0544 - val_acc: 0.4643
Epoch 48/80
8/8 [==============================] - 15s 2s/step - loss: 0.8178 - acc: 0.6773 - val_loss: 0.7888 - val_acc: 0.6429
Epoch 49/80
8/8 [==============================] - 15s 2s/step - loss: 0.8882 - acc: 0.6215 - val_loss: 1.0744 - val_acc: 0.5714
Epoch 50/80
8/8 [==============================] - 15s 2s/step - loss: 0.8804 - acc: 0.6255 - val_loss: 0.9523 - val_acc: 0.5357
Epoch 51/80
8/8 [==============================] - 17s 2s/step - loss: 0.8395 - acc: 0.6653 - val_loss: 1.1020 - val_acc: 0.6429
Epoch 52/80
8/8 [==============================] - 15s 2s/step - loss: 0.7916 - acc: 0.6719 - val_loss: 0.9618 - val_acc: 0.5357
Epoch 53/80
8/8 [==============================] - 15s 2s/step - loss: 0.8269 - acc: 0.6932 - val_loss: 0.9520 - val_acc: 0.6429
Epoch 54/80
8/8 [==============================] - 16s 2s/step - loss: 0.8245 - acc: 0.6494 - val_loss: 1.0532 - val_acc: 0.5000
Epoch 55/80
8/8 [==============================] - 15s 2s/step - loss: 0.8254 - acc: 0.6733 - val_loss: 0.9739 - val_acc: 0.5714
Epoch 56/80
8/8 [==============================] - 15s 2s/step - loss: 0.8090 - acc: 0.6653 - val_loss: 0.9952 - val_acc: 0.3929
Epoch 57/80
8/8 [==============================] - 15s 2s/step - loss: 0.7959 - acc: 0.6653 - val_loss: 1.0097 - val_acc: 0.6071
Epoch 58/80
8/8 [==============================] - 15s 2s/step - loss: 0.7852 - acc: 0.6693 - val_loss: 1.1059 - val_acc: 0.5000
Epoch 59/80
8/8 [==============================] - 15s 2s/step - loss: 0.7905 - acc: 0.6972 - val_loss: 0.9137 - val_acc: 0.6071
Epoch 60/80
8/8 [==============================] - 16s 2s/step - loss: 0.7683 - acc: 0.6914 - val_loss: 0.9807 - val_acc: 0.5714
Epoch 61/80
8/8 [==============================] - 15s 2s/step - loss: 0.8578 - acc: 0.6375 - val_loss: 0.8234 - val_acc: 0.6429
Epoch 62/80
8/8 [==============================] - 15s 2s/step - loss: 0.7716 - acc: 0.6813 - val_loss: 1.0004 - val_acc: 0.6429
Epoch 63/80
8/8 [==============================] - 15s 2s/step - loss: 0.7841 - acc: 0.6614 - val_loss: 1.1315 - val_acc: 0.5000
Epoch 64/80

8/8 [==============================] - 15s 2s/step - loss: 0.8066 - acc: 0.6932 - val_loss: 1.1352 - val_acc: 0.5714
Epoch 65/80
8/8 [==============================] - 15s 2s/step - loss: 0.8191 - acc: 0.6574 - val_loss: 1.0252 - val_acc: 0.6786
Epoch 66/80
8/8 [==============================] - 16s 2s/step - loss: 0.7666 - acc: 0.7171 - val_loss: 0.9197 - val_acc: 0.6071
Epoch 67/80
8/8 [==============================] - 15s 2s/step - loss: 0.7906 - acc: 0.7052 - val_loss: 0.8714 - val_acc: 0.6071
Epoch 68/80
8/8 [==============================] - 16s 2s/step - loss: 0.8078 - acc: 0.6614 - val_loss: 0.9422 - val_acc: 0.6071
Epoch 69/80
8/8 [==============================] - 16s 2s/step - loss: 0.7692 - acc: 0.6758 - val_loss: 0.9170 - val_acc: 0.4286
Epoch 70/80
8/8 [==============================] - 15s 2s/step - loss: 0.7879 - acc: 0.6375 - val_loss: 1.4276 - val_acc: 0.4286
Epoch 71/80
8/8 [==============================] - 15s 2s/step - loss: 0.8906 - acc: 0.6574 - val_loss: 1.0403 - val_acc: 0.5357
Epoch 72/80
8/8 [==============================] - 15s 2s/step - loss: 0.7339 - acc: 0.6773 - val_loss: 1.1428 - val_acc: 0.4643
Epoch 73/80
8/8 [==============================] - 15s 2s/step - loss: 0.7456 - acc: 0.6972 - val_loss: 1.0538 - val_acc: 0.4643
Epoch 74/80
8/8 [==============================] - 15s 2s/step - loss: 0.7779 - acc: 0.6733 - val_loss: 1.3623 - val_acc: 0.4286
Epoch 75/80
8/8 [==============================] - 15s 2s/step - loss: 0.7359 - acc: 0.6853 - val_loss: 1.0816 - val_acc: 0.4286
Epoch 76/80
8/8 [==============================] - 15s 2s/step - loss: 0.6950 - acc: 0.7211 - val_loss: 1.1744 - val_acc: 0.4643
Epoch 77/80
8/8 [==============================] - 16s 2s/step - loss: 0.7272 - acc: 0.6932 - val_loss: 1.2720 - val_acc: 0.5357
Epoch 78/80
8/8 [==============================] - 15s 2s/step - loss: 0.6599 - acc: 0.7092 - val_loss: 1.1515 - val_acc: 0.4286
Epoch 79/80
8/8 [==============================] - 15s 2s/step - loss: 0.7309 - acc: 0.7012 - val_loss: 1.1760 - val_acc: 0.5357
Epoch 80/80
8/8 [==============================] - 15s 2s/step - loss: 0.7099 - acc: 0.7171 - val_loss: 0.9184 - val_acc: 0.5714

In [9]:
model.evaluate(validation_generator,
steps=STEP_SIZE_TEST)

1/1 [==============================] - 0s 131ms/step - loss: 1.1444 - acc: 0.2500

[1.1444406509399414, 0.25]

In [10]:
# auto encoder

In [11]:
type1_data.head()

         Name   Type1             imagepath
0   abomasnow   Grass  images/abomasnow.png
3    accelgor     Bug   images/accelgor.png
7       aipom  Normal      images/aipom.png
9   alomomola   Water  images/alomomola.png
12    ambipom  Normal    images/ambipom.png

In [12]:
dataset_type1 = pd.get_dummies(type1_data, columns=['Type1'], prefix='', prefix_sep='')
dataset_type1.head()

         Name             imagepath  Bug  Grass  Normal  Water
0   abomasnow  images/abomasnow.png    0      1       0      0
3    accelgor   images/accelgor.png    1      0       0      0
7       aipom      images/aipom.png    0      0       1      0
9   alomomola  images/alomomola.png    0      0       0      1
12    ambipom    images/ambipom.png    0      0       1      0

In [13]:
train_dataset = dataset_type1.sample(frac=0.8, random_state=0)
test_dataset = dataset_type1.drop(train_dataset.index)
train_dataset.head()

           Name              imagepath  Bug  Grass  Normal  Water
334  kangaskhan  images/kangaskhan.png    0      0       1      0
351  kricketune  images/kricketune.png    1      0       0      0
623    silvally    images/silvally.jpg    0      0       1      0
118      combee      images/combee.png    1      0       0      0
676     suicune     images/suicune.png    0      0       0      1